.img_fluid{
    max-width: 100%
}
#mainBanner{
    background-image: url("../img/bg.png");
    height: 100vw;
    max-height:800px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;
    transition: 0.5s;
    color: white;
    font-size: 80px;
    display: flex;
    justify-content: center;
    align-items: center;

}

#mainBanner:hover{
    background-size: auto 150%;
}

@media (max-width:991px){
    h2 span{
         display: none;
    }
}